@model KT20_19287398123.Models.May

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>May</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenMay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiMay.CauHinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiMay.CauHinh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaM }) |
    @Html.ActionLink("Back to List", "Index")
</p>
